/* @group import */
/* @end */
/* @group global var */
/* @end */
/* @group Boilerplate */
html,
button,
input,
select,
textarea {
  color: #232323;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
/* @end */
/* @group Mes styles */
/* @group General */
/* selection */
::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}
/* @end */
/* @group Fonts */
@font-face {
  font-family: 'robotolight';
  src: url('../fonts/Roboto-Light-webfont.eot');
  src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light-webfont.woff') format('woff'), url('../fonts/Roboto-Light-webfont.ttf') format('truetype'), url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight_italic';
  src: url('../fonts/Roboto-LightItalic-webfont.eot');
  src: url('../fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-LightItalic-webfont.woff') format('woff'), url('../fonts/Roboto-LightItalic-webfont.ttf') format('truetype'), url('../fonts/Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoitalic';
  src: url('../fonts/Roboto-Italic-webfont.eot');
  src: url('../fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Italic-webfont.woff') format('woff'), url('../fonts/Roboto-Italic-webfont.ttf') format('truetype'), url('../fonts/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url('../fonts/Roboto-Bold-webfont.eot');
  src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold-webfont.woff') format('woff'), url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold_italic';
  src: url('../fonts/Roboto-BoldItalic-webfont.eot');
  src: url('../fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-BoldItalic-webfont.woff') format('woff'), url('../fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/Roboto-BoldItalic-webfont.svg#robotobold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'arx';
  src: url('../fonts/arx.eot?-ubtghn');
  src: url('../fonts/arx.eot?#iefix-ubtghn') format('embedded-opentype'), url('../fonts/arx.woff?-ubtghn') format('woff'), url('../fonts/arx.ttf?-ubtghn') format('truetype'), url('../fonts/arx.svg?-ubtghn#arx') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'arx';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-mail:before {
  content: "\e606";
}
.icon-casque:before {
  content: "\e602";
}
.icon-consultants:before {
  content: "\e603";
}
.icon-outils:before {
  content: "\e604";
}
.icon-perso:before {
  content: "\e605";
}
.icon-arrow-left:before {
  content: "\e600";
}
.icon-arrow-right:before {
  content: "\e601";
}
/* @end */
/* @group Mixins spécifiques */
.triangle {
  display: inline-block;
}
.triangle.top {
  width: 0px;
  height: 0px;
  border-color: transparent;
  border-style: solid;
  border-width: 0 25px 50px 25px;
  border-bottom-color: #ff0000;
  border-left-color: rgba(255, 0, 0, 0);
  border-right-color: rgba(255, 0, 0, 0);
}
.triangle.bottom {
  width: 0px;
  height: 0px;
  border-color: transparent;
  border-style: solid;
  border-width: 50px 25px 0 25px;
  border-top-color: #ffa500;
  border-left-color: rgba(255, 165, 0, 0);
  border-right-color: rgba(255, 165, 0, 0);
}
.triangle.right {
  width: 0px;
  height: 0px;
  border-color: transparent;
  border-style: solid;
  border-width: 25px 0 25px 50px;
  border-left-color: #ffff00;
  border-top-color: rgba(255, 255, 0, 0);
  border-bottom-color: rgba(255, 255, 0, 0);
}
.triangle.left {
  width: 0px;
  height: 0px;
  border-color: transparent;
  border-style: solid;
  border-width: 25px 50px 25px 0;
  border-right-color: #008000;
  border-top-color: rgba(0, 128, 0, 0);
  border-bottom-color: rgba(0, 128, 0, 0);
}
.triangle.top-right {
  width: 0px;
  height: 0px;
  border-color: transparent;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-right-color: #00ffff;
  border-bottom-color: rgba(0, 255, 255, 0);
}
.triangle.top-left {
  width: 0px;
  height: 0px;
  border-color: transparent;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-top-color: #0000ff;
  border-right-color: rgba(0, 0, 255, 0);
}
.triangle.bottom-right {
  width: 0px;
  height: 0px;
  border-color: transparent;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-bottom-color: #4b0082;
  border-left-color: rgba(75, 0, 130, 0);
}
.triangle.bottom-left {
  width: 0px;
  height: 0px;
  border-color: transparent;
  border-style: solid;
  border-width: 50px 0 0 50px;
  border-left-color: #800080;
  border-top-color: rgba(128, 0, 128, 0);
}
/* @end */
/* @group Global */
html,
body {
  display: block;
  position: relative;
  min-height: 100%;
  height: 100%;
}
.container {
  display: block;
  position: relative;
  width: 1056px;
  height: auto;
  margin: 0 auto;
}
h1 {
  font-family: 'robotolight', sans-serif;
  font-weight: normal;
  font-size: 2.313em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3em;
  display: block;
  width: 352px;
  height: auto;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 200px 0 0 0;
}
h2 {
  margin: 0;
  padding: 0;
  font-family: 'robotolight', sans-serif;
  font-weight: normal;
  font-size: 1.375em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin: 0;
  padding: 0;
  font-family: 'robotoregular', sans-serif;
  font-weight: normal;
  font-size: 1em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3em;
}
.center-aligned {
  text-align: center;
}
.txt-bleu {
  color: #0070b8;
}
a.btn {
  display: block;
  position: relative;
  width: 176px;
  height: 176px;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 35px;
  margin: 0;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  font-family: 'robotolight', sans-serif;
  font-weight: normal;
  font-size: 1.375em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2em;
}
a.btn h2 {
  font-size: 1em;
}
a.btn h2 .txt-btn strong {
  font-family: 'robotobold', sans-serif;
  font-weight: normal;
  font-size: 1em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a.btn.btn-bleu {
  background-color: #227dba;
  color: #ffffff;
}
a.btn.btn-bleu:hover {
  background-color: #ffffff;
  color: #227dba;
}
a.btn.btn-bleu:hover .triangle-btn {
  border-bottom-color: #227dba;
}
a.btn.btn-blanc {
  background-color: #ffffff;
  color: #2782be;
}
a.btn.btn-blanc .triangle-btn {
  border-bottom-color: #2782be;
}
a.btn.btn-blanc-alpha {
  background-color: #dcdcdc;
  background-color: rgba(255, 255, 255, 0.4);
  color: #ffffff;
}
a.btn.btn-vertical-centered {
  line-height: 176px;
  padding: 0 35px;
}
a.btn.btn-vertical-centered .txt-btn {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2em;
}
a.btn.small-padding {
  padding: 26px 0 0 26px;
}
a.btn.small-padding.btn-vertical-centered {
  padding: 0 26px;
}
a.btn .triangle-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 0px;
  height: 0px;
  border-color: transparent;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-bottom-color: #ffffff;
  border-left-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
a.btn:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
a.btn:hover .triangle-btn {
  margin: 3px 0 0 3px;
  border-width: 0 0 13px 13px;
  -webkit-transform: translate(5px, 5px);
  -moz-transform: translate(5px, 5px);
  -o-transform: translate(5px, 5px);
  -ms-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
}
.bloc-txt {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px;
  margin: 0;
  color: #ffffff;
}
.bloc-txt.bloc-txt-vertical-centered {
  line-height: 176px;
  padding: 0 18px;
}
.bloc-txt.bloc-txt-vertical-centered .txt-bloc {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
/* @end */
/* @group Bg grid */
ul.bg-grid {
  display: block;
  width: 1056px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -528px;
  padding: 0;
  pointer-events: none;
}
ul.bg-grid li.col-bg-grid {
  display: inline-block;
  vertical-align: top;
  width: 16.666666667%;
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul.bg-grid li.col-bg-grid.bleu:before {
  background-color: #0070b8;
  background-color: rgba(0, 112, 184, 0.25);
}
ul.bg-grid li.col-bg-grid.last-bleu:after {
  background-color: #0070b8;
  background-color: rgba(0, 112, 184, 0.25);
}
ul.bg-grid li.col-bg-grid.bleu2:before {
  background-color: #2782be;
}
ul.bg-grid li.col-bg-grid.last-bleu2:after {
  background-color: #2782be;
}
ul.bg-grid li.col-bg-grid.blanc:before {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.25);
}
ul.bg-grid li.col-bg-grid.last-blanc:after {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.25);
}
ul.bg-grid li.col-bg-grid.gris:before {
  background-color: #7d7d7d;
  background-color: rgba(125, 125, 125, 0.4);
}
ul.bg-grid li.col-bg-grid.last-gris:after {
  background-color: #7d7d7d;
  background-color: rgba(125, 125, 125, 0.4);
}
ul.bg-grid li.col-bg-grid.blanc-10:before {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
ul.bg-grid li.col-bg-grid.last-blanc-10:after {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
ul.bg-grid li.col-bg-grid:before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
}
ul.bg-grid li.col-bg-grid:last-of-type:after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
}
ul.bg-grid li.col-bg-grid.active:before {
  display: block;
}
ul.bg-grid li.col-bg-grid.last-active:last-of-type:after {
  display: block;
}
/* @end */
/* @group Header */
header {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 70px 0 0 0;
}
a#logo-arx {
  display: block;
  width: 150px;
  height: 56px;
  background: url("../layoutImg/logo.png") no-repeat center center;
  float: left;
}
ul#menu-header {
  display: block;
  list-style-type: none;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
}
ul#menu-header:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 118px;
  background-color: #ffffff;
}
ul#menu-header li {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 176px;
  margin: 0;
  padding: 0 0 0 6px;
  text-align: center;
}
ul#menu-header li a {
  display: block;
  font-family: 'robotobold', sans-serif;
  font-weight: normal;
  font-size: 0.875em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  position: relative;
}
ul#menu-header li a.lien-pharmacies:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -70px;
  width: 1px;
  height: 65px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.25);
}
ul#menu-header li a.lien-pharmacies .bg-lien-header {
  background-color: #81fa00;
  background-color: rgba(129, 250, 0, 0.6);
}
ul#menu-header li a.lien-hopitaux:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -70px;
  width: 1px;
  height: 65px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.25);
}
ul#menu-header li a.lien-hopitaux .bg-lien-header {
  background-color: #308ac6;
  background-color: rgba(48, 138, 198, 0.6);
}
ul#menu-header li a.lien-arx:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -70px;
  width: 1px;
  height: 65px;
  background-color: #2782be;
  background-color: rgba(39, 130, 190, 0.25);
}
ul#menu-header li a.lien-arx .bg-lien-header {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}
ul#menu-header li a .bg-lien-header {
  display: block;
  width: 100%;
  height: 48px;
  position: absolute;
  bottom: 0;
  left: 0;
}
ul#menu-header li a .txt-lien-header {
  position: relative;
}
/* @end */
/* @group Bloc home */
#bloc-home {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 760px;
  max-height: 1000px;
}
#bloc-home ul.bg-grid li.col-bg-grid.last-active:last-of-type:after {
  top: 123px;
}
#bloc-home ul.bg-grid li.col-bg-grid:nth-child(2):before {
  top: 357px;
}
#bloc-home ul.bg-grid li.col-bg-grid:nth-child(2):after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 193px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.25);
}
#bloc-home ul.bg-grid li.col-bg-grid:nth-child(5):before {
  top: 350px;
}
#bloc-home ul.bg-grid li.col-bg-grid:nth-child(6):before {
  top: 350px;
}
#bloc-home #bg-bloc-home {
  display: block;
  background: url("../layoutImg/home/bloc-home/bg-bloc-home.jpg") no-repeat center center;
  background-size: 100% auto;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#bloc-home a#btn-robots-rowa {
  position: absolute;
  top: 408px;
  left: 176px;
}
#bloc-home a#btn-contact {
  position: absolute;
  top: 350px;
  left: 704px;
}
/* @end */
/* @group Bloc video */
a.btn-video {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 176px;
  height: 176px;
  line-height: 176px;
  text-decoration: none;
  margin: 214px 0 0 0;
  padding: 0;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  color: #227dba;
  text-align: center;
  background-color: #ffffff;
}
a.btn-video .arrow {
  font-size: 13px;
}
#bloc-video {
  display: block;
  position: relative;
  padding: 0 0 90px 0;
}
#bloc-video #bg-bloc-video {
  display: block;
  /*background: url("../layoutImg/home/bloc-home/bg-bloc-home.jpg") no-repeat center center;
    background-size: 100% auto;
    background-size: cover;*/
  background: #e6e6e6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#bloc-video #wrapper-video {
  display: inline-block;
  vertical-align: top;
  width: 704px;
  height: 390px;
  background: #000000;
  position: relative;
}
#bloc-video #wrapper-video ul#slider-videos {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#bloc-video #wrapper-video ul#slider-videos li {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
#bloc-video #wrapper-video ul#slider-videos li a.video-cover {
  line-height: 390px;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #000000;
  text-decoration: none;
  color: #ffffff;
}
#bloc-video #wrapper-video ul#slider-videos li a.video-cover img.img-video-cover {
  display: block;
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#bloc-video #wrapper-video ul#slider-videos li a.video-cover .video-title {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  max-width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px;
  border: 3px solid #ffffff;
}
#bloc-video #wrapper-video ul#slider-videos li a.video-cover .video-title .video-title-fixed {
  display: inline-block;
  font-family: 'robotolight', sans-serif;
  font-weight: normal;
  font-size: 1.375em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #85cfff;
  display: block;
  margin: 0 0 15px 0;
}
#bloc-video #wrapper-video ul#slider-videos li a.video-cover .video-title .video-title-var {
  font-family: 'robotobold', sans-serif;
  font-weight: normal;
  font-size: 1.25em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2em;
}
#bloc-video #wrapper-video ul#slider-videos li a.video-cover .video-play {
  position: relative;
  display: none;
  vertical-align: middle;
  line-height: normal;
  width: 210px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px;
  border: 3px solid #ffffff;
  font-family: 'robotobold', sans-serif;
  font-weight: normal;
  font-size: 1.375em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#bloc-video #wrapper-video ul#slider-videos li a.video-cover:hover .video-title {
  display: none;
}
#bloc-video #wrapper-video ul#slider-videos li a.video-cover:hover .video-play {
  display: inline-block;
}
#bloc-video #wrapper-video ul#slider-videos li .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
#bloc-video #wrapper-video ul#slider-videos li .embed-container iframe,
#bloc-video #wrapper-video ul#slider-videos li .embed-container object,
#bloc-video #wrapper-video ul#slider-videos li .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#bloc-video h2 {
  font-family: 'robotoregular', sans-serif;
  font-weight: normal;
  font-size: 1.375em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 30px 0;
  color: #535354;
}
/* @end */
/* @group Bloc hopitaux */
#bloc-hopitaux {
  background-color: #2782be;
  display: block;
  position: relative;
}
#bloc-hopitaux #bg-bloc-hopitaux {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background: #2782be url("../layoutImg/home/bloc-hopitaux/bg-bloc-hopitaux.jpg") no-repeat center center;
  background-size: 100% auto;
  background-size: cover;
}
#bloc-hopitaux ul.bg-grid li.col-bg-grid.last-active:last-of-type:after {
  top: 123px;
}
#bloc-hopitaux ul.bg-grid li.col-bg-grid:nth-child(3):before {
  top: 265px;
}
#bloc-hopitaux ul.bg-grid li.col-bg-grid:nth-child(3):after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 87px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.25);
}
#bloc-hopitaux #bloc-txt-automatiser {
  display: inline-block;
  vertical-align: top;
  width: 176px;
  height: 352px;
  line-height: 352px;
  background-color: #298bcc;
}
#bloc-hopitaux #bloc-txt-desc-hopitaux {
  display: inline-block;
  vertical-align: top;
  width: 352px;
  height: 352px;
  line-height: 352px;
  background-color: #3799da;
  padding: 0 30px;
}
#bloc-hopitaux #btn-solutions-hopitaux {
  display: inline-block;
  vertical-align: top;
  width: 176px;
  height: 176px;
}
/* @end */
/* @group Bloc références */
#bloc-references {
  display: block;
  position: relative;
  width: 100%;
  height: 704px;
}
#bloc-references .container {
  height: 100%;
}
#bloc-references #bloc-txt-references {
  width: 176px;
  height: 176px;
  line-height: 176px;
  background-color: #ffffff;
  color: #298bcc;
  position: absolute;
  top: 0;
  left: 0;
}
#bloc-references #btn-brochure {
  position: absolute;
  top: 528px;
  left: 352px;
}
#bloc-references #bloc-couleur-references {
  display: block;
  width: 176px;
  height: 176px;
  background-color: #298bcc;
  background-color: rgba(41, 139, 204, 0.4);
  position: absolute;
  top: 528px;
  left: 176px;
}
#bloc-references ul#liste-references {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#bloc-references ul#liste-references li {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
}
#bloc-references ul#liste-references li#references-bloc-big {
  width: 704px;
  height: 528px;
  top: 0;
  left: 176px;
}
#bloc-references ul#liste-references li#references-bloc-vertical {
  width: 176px;
  height: 352px;
  top: 264px;
  left: 0;
}
#bloc-references ul#liste-references li#references-bloc-horizontal-top {
  width: 352px;
  height: 176px;
  top: 88px;
  left: 704px;
}
#bloc-references ul#liste-references li#references-bloc-horizontal-bottom {
  width: 352px;
  height: 176px;
  top: 440px;
  left: 528px;
}
#bloc-references ul#liste-references li .container-img-references {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
#bloc-references ul#liste-references li .container-img-references img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
a.btn-references {
  display: block;
  position: absolute;
  width: 176px;
  height: 176px;
  line-height: 176px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  color: #ffffff;
  text-align: center;
  background-color: #298bcc;
}
a.btn-references .arrow {
  font-size: 13px;
}
a.btn-references#btn-left-references {
  top: 352px;
  left: 352px;
}
a.btn-references#btn-right-references {
  top: 352px;
  left: 880px;
}
/* @end */
/* @group Bloc réseaux sociaux */
#bloc-reseaux-sociaux {
  display: block;
  position: relative;
  background: url("../layoutImg/home/bloc-reseaux-sociaux/bg-bloc-reseaux-sociaux.jpg") no-repeat center center;
  background-size: 100% auto;
  background-size: cover;
}
#bloc-reseaux-sociaux #bloc-txt-arx-reseaux-sociaux {
  display: inline-block;
  vertical-align: top;
  width: 176px;
  height: 176px;
  color: #237ebb;
  background-color: #ffffff;
}
#bloc-reseaux-sociaux ul#social-arx {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 88px;
  padding: 0;
  list-style-type: none;
}
#bloc-reseaux-sociaux ul#social-arx li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  width: 88px;
  height: 88px;
}
#bloc-reseaux-sociaux ul#social-arx li:nth-child(even) {
  margin-top: 88px;
}
#bloc-reseaux-sociaux ul#social-arx li a.social-link {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#bloc-reseaux-sociaux ul#social-arx li a.social-link.twitter {
  background-color: #6bacda;
  background-color: rgba(107, 172, 218, 0.9);
  background-image: url("../layoutImg/home/bloc-reseaux-sociaux/logo-twitter.png");
}
#bloc-reseaux-sociaux ul#social-arx li a.social-link.facebook {
  background-color: #004b99;
  background-color: rgba(0, 75, 153, 0.85);
  background-image: url("../layoutImg/home/bloc-reseaux-sociaux/logo-facebook.png");
}
#bloc-reseaux-sociaux ul#social-arx li a.social-link.pinterest {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.75);
  background-image: url("../layoutImg/home/bloc-reseaux-sociaux/logo-pinterest.png");
}
#bloc-reseaux-sociaux ul#social-arx li a.social-link.youtube {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.75);
  background-image: url("../layoutImg/home/bloc-reseaux-sociaux/logo-youtube.png");
}
#bloc-reseaux-sociaux ul#social-arx li a.social-link.googleplus {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.75);
  background-image: url("../layoutImg/home/bloc-reseaux-sociaux/logo-googleplus.png");
}
#bloc-reseaux-sociaux #bloc-txt-desc-reseaux-sociaux {
  width: 352px;
  height: 176px;
  line-height: 176px;
  background-color: #dcdcdc;
  background-color: rgba(255, 255, 255, 0.9);
  color: #232324;
  padding: 0 50px;
  margin: 0 0 0 176px;
}
/* @end */
/* @group Footer */
footer {
  display: block;
  position: relative;
  overflow: hidden;
}
footer ul.bg-grid li.col-bg-grid.last-active:last-of-type:after {
  top: 123px;
}
footer ul.bg-grid li.col-bg-grid:nth-child(2):before {
  top: 253px;
}
footer ul.bg-grid li.col-bg-grid:nth-child(4):before {
  top: 285px;
}
footer ul.bg-grid li.col-bg-grid:nth-child(6):before {
  top: 285px;
}
footer ul#menu-top-footer {
  display: block;
  width: 100%;
  height: auto;
  list-style-type: none;
  margin: 0;
  padding: 55px 0 78px 0;
}
footer ul#menu-top-footer li {
  display: inline-block;
  vertical-align: top;
  width: 352px;
  height: 222px;
}
footer ul#menu-top-footer li a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}
footer ul#menu-top-footer li a .visu-menu {
  display: block;
  color: #2782be;
  position: absolute;
}
footer ul#menu-top-footer li a .zone-txt {
  color: #30394b;
  font-family: 'robotolight', sans-serif;
  font-weight: normal;
  font-size: 1.375em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 130px 0 0 0;
  display: block;
}
footer ul#menu-top-footer li a .zone-txt strong {
  color: #2782be;
  font-family: 'robotobold', sans-serif;
  font-weight: normal;
  font-size: 1em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer ul#menu-top-footer li a .plus {
  display: block;
  width: 28px;
  height: 28px;
  background-color: #2782be;
  color: #ffffff;
  font-family: 'robotobold', sans-serif;
  font-weight: normal;
  font-size: 1.563em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  line-height: 27px;
  position: absolute;
}
footer ul#menu-top-footer li a .plus:after {
  content: "+";
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
footer ul#menu-top-footer li a.consultants-experts .visu-menu {
  width: 54px;
  height: 83px;
  font-size: 83px;
  top: 32px;
  left: 50%;
  margin-left: -27px;
}
footer ul#menu-top-footer li a.consultants-experts .zone-txt {
  width: 50%;
  text-align: right;
}
footer ul#menu-top-footer li a.consultants-experts .plus {
  top: 132px;
  left: 50%;
  margin-left: 8px;
}
footer ul#menu-top-footer li a.installation-personnalisee .visu-menu {
  width: 99px;
  height: 91px;
  font-size: 91px;
  top: 25px;
  left: 50%;
  margin-left: -50px;
}
footer ul#menu-top-footer li a.installation-personnalisee .zone-txt {
  width: 50%;
  text-align: center;
  margin-left: 25%;
}
footer ul#menu-top-footer li a.installation-personnalisee .plus {
  position: relative;
  margin: 5px auto 0 auto;
}
footer ul#menu-top-footer li a.sav-dedie .groupe-visu-menu {
  display: block;
  width: 114px;
  height: 61px;
  position: absolute;
  top: 42px;
  left: 50%;
  margin-left: -34px;
}
footer ul#menu-top-footer li a.sav-dedie .visu-menu.icon-casque {
  font-size: 61px;
  top: 0;
  left: 0;
}
footer ul#menu-top-footer li a.sav-dedie .visu-menu.icon-outils {
  font-size: 51px;
  top: 5px;
  right: 0px;
}
footer ul#menu-top-footer li a.sav-dedie .zone-txt {
  width: 50%;
  text-align: left;
  margin-left: 50%;
}
footer ul#menu-top-footer li a.sav-dedie .plus {
  top: 132px;
  left: 50%;
  margin-left: -34px;
}
footer a#btn-nous-contacter {
  font-family: 'robotolight', sans-serif;
  font-weight: normal;
  font-size: 1.25em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 278px;
  height: 278px;
  margin: 0 auto 75px auto;
  padding: 110px 0 0 0;
}
footer a#btn-nous-contacter .icon-mail {
  display: block;
  font-size: 36px;
  width: 47px;
  height: 36px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -23px;
}
footer a#btn-nous-contacter .txt-btn strong {
  font-family: 'robotobold', sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer ul#menu-center-footer {
  display: block;
  width: 50%;
  margin: 0 25%;
  padding: 20px 0;
  text-align: center;
  background-color: #ffffff;
}
footer ul#menu-center-footer li {
  display: inline-block;
  vertical-align: top;
  font-family: 'robotoregular', sans-serif;
  font-weight: normal;
  font-size: 1em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #535354;
  margin: 0 5px;
  position: relative;
}
footer ul#menu-center-footer li:last-of-type:after {
  display: none;
}
footer ul#menu-center-footer li:after {
  content: "•";
  position: absolute;
  top: 0;
  right: -9px;
}
footer ul#menu-center-footer li a {
  color: #2782be;
  font-family: 'robotobold', sans-serif;
  font-weight: normal;
  font-size: 1em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer ul#menu-bottom-footer {
  display: block;
  width: 100%;
  height: auto;
  margin: 80px 0 0 0;
  padding: 5px 0 100px 0;
  list-style-type: none;
  background-color: #ffffff;
}
footer ul#menu-bottom-footer li.col-menu-bottom-footer {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 176px;
  padding: 0;
  width: 176px;
  height: auto;
}
footer ul#menu-bottom-footer li.col-menu-bottom-footer a {
  display: block;
  text-decoration: none;
  color: #bfbfbf;
}
footer ul#menu-bottom-footer li.col-menu-bottom-footer a h3 {
  font-family: 'robotobold', sans-serif;
  font-weight: normal;
  font-size: 1.25em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
footer ul#menu-bottom-footer li.col-menu-bottom-footer ul.menu-categ-1 {
  display: block;
  width: 100%;
  height: auto;
  margin: 15px 0 0 5px;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer ul#menu-bottom-footer li.col-menu-bottom-footer ul.menu-categ-1 .opts {
  font-family: 'robotoitalic', sans-serif;
  font-weight: normal;
  font-size: 0.875em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #c1bebe;
  margin: 0 0 0 10px;
}
footer ul#menu-bottom-footer li.col-menu-bottom-footer ul.menu-categ-1 .no-link {
  font-family: 'robotoitalic', sans-serif;
  font-weight: normal;
  font-size: 1em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #c1bebe;
  margin: 0;
}
footer ul#menu-bottom-footer li.col-menu-bottom-footer ul.menu-categ-1 li {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'robotoregular', sans-serif;
  font-weight: normal;
  font-size: 1em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer ul#menu-bottom-footer li.col-menu-bottom-footer ul.menu-categ-1 li a {
  display: block;
  text-decoration: none;
  color: #9a9a9a;
}
footer ul#menu-bottom-footer li.col-menu-bottom-footer ul.menu-categ-1 li ul.menu-categ-2 {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 15px 15px;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer ul#menu-bottom-footer li.col-menu-bottom-footer ul.menu-categ-1 li ul.menu-categ-2 li {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'robotoregular', sans-serif;
  font-weight: normal;
  font-size: 0.875em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer ul#menu-bottom-footer li.col-menu-bottom-footer ul.menu-categ-1 li ul.menu-categ-2 li a {
  display: block;
  text-decoration: none;
  color: #90a1ad;
}
/* @end */
/* @end */
/* @group Non semantic Boilerplate */
/* remplacement image */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/* masquage de texte, alternative (buggé?) */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* masqué */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* masqué juste sur l'écran (pas sur RSS ou moteurs) */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* @end */
/* ==|== media queries ======================================================
   ========================================================================== */
/* mes resolutions responsives "classiques" */
/* retina */
/* ==|== print styles =======================================================
   ========================================================================== */
@media print {
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
