@media (max-width: 1150px) {

}

@media (max-width: 1056px) {
  html, body{
    font-size: 0.95em;
  }
  .container{
    width: 100%;
    &.small{
      width: 100%;
    }
  }

  .responsivePadRight{
    padding-right: 20px;
    .legend{
      right: 20px;
    }
  }

  .paddingLeft1{
    padding-left: @largeurColResponsive;
    .isIe &{
      padding-left: @largeurColResponsiveIe;
    }
  }
  .paddingLeft{
    padding: 0 0 0 2*@largeurColResponsive;
    .isIe &{
      padding: 0 0 0 2*@largeurColResponsiveIe;
    }
  }
  .paddingLeftBis{
    padding-left: 3*@largeurColResponsive;
    .isIe &{
      padding-left: 3*@largeurColResponsiveIe;
    }
  }
  .paddingLeft2{
    padding-left: 4*@largeurColResponsive;
    .isIe &{
      padding-left: 4*@largeurColResponsiveIe;
    }
  }
  .paddingRight1{
    padding-right: @largeurColResponsive;
    .isIe &{
      padding-right: @largeurColResponsiveIe;
    }
  }
  .paddingRight{
    padding-right: 2*@largeurColResponsive;
    .isIe &{
      padding-right: 2*@largeurColResponsiveIe;
    }
  }
  .col{
    &.col1{
      width: 2*@largeurColResponsive;
      .isIe &{
        width: 2*@largeurColResponsiveIe;
      }
    }
    &.col1Bis{
      width: 3*@largeurColResponsive;
      .isIe &{
        width: 3*@largeurColResponsiveIe;
      }
    }
    &.col2{
      width: 4*@largeurColResponsive;
      .isIe &{
        width: 4*@largeurColResponsiveIe;
      }
    }
    &.col3{
      width: 6*@largeurColResponsive;
      .isIe &{
        width: 6*@largeurColResponsiveIe;
      }
    }
    &.col3Bis{
      width: 7*@largeurColResponsive;
      .isIe &{
        width: 7*@largeurColResponsiveIe;
      }
    }
    &.col4{
      width: 8*@largeurColResponsive;
      .isIe &{
        width: 8*@largeurColResponsiveIe;
      }
    }
  }

  .content{
    h2{
      &.right-aligned{
        margin-right: 0;
        margin-left: 0;
      }
    }
    .page &{
      padding: 60px 20px 0;
    }
  }

  .subMenuContact{
    ul{
      margin-left: 0;
    }
  }

  ul.bg-grid{
    width: 100%;
    left: 0;
    margin: 0;
  }
  .bloc-txt.bloc-txt-vertical-centered{
    line-height: 2*@largeurColResponsive;
  }
  .btn, a.btn{
    width: 2*@largeurColResponsive;
    height: 2*@largeurColResponsive;
    padding: 20px;
    &.btn-vertical-centered{
      line-height: 2*@largeurColResponsive;
      padding: 0 20px;
    }
    &.btn-image{
      width: 4*@largeurColResponsive;
      height: 4*@largeurColResponsive;
      margin: 0;
    }
  }
  #bloc-home{
    #bloc-detail-home{
      left: 2*@largeurColResponsive;
      &.detail-home-open{
        width: 8*@largeurColResponsive;
        height: 6*@largeurColResponsive;
      }
      ul#container-titles-carousel-home{
        width: 2*@largeurColResponsive;
        height: 2*@largeurColResponsive;
        bottom: 2*@largeurColResponsive;
        li{
          line-height: 2*@largeurColResponsive;
          .container-title-carousel-home{
            h2{
              padding: 0 15px;
              &.small-padding{
                padding: 0 15px;
              }
            }
          } 
        }
      }
    }
    #bg-bloc-home{
      #machine{
        right: 50%;
        margin-right: -770px;
      }
    }
    a#btn-robots-rowa{
      left: 2*@largeurColResponsive;
    }
    a#btn-contact{
      left: 8*@largeurColResponsive;
    }
  }
  a.btn-video{
    width: 2*@largeurColResponsive;
    height: 2*@largeurColResponsive;
    line-height: 2*@largeurColResponsive;
    &#btn-left-video{
      position: absolute;
      bottom: 0;
      margin: 0;
      left: 0;
    }
    &#btn-right-video{
      position: absolute;
      bottom: 0;
      margin: 0;
      right: 0;
    }
  }
  /* @group options */

  #bloc-options-title{
    height: 4*@largeurColResponsive;
    bottom: -2*@largeurColResponsive;
    &.open{
      width: 4*@largeurColResponsive;
    }
  }
  
  ul#liste-options-pharmacies{
    li{
      width: 4*@largeurColResponsive;
      height: 4*@largeurColResponsive;
    }
  }

  /* @end */
  #bloc-video{
    #wrapper-video{
      width: 8*@largeurColResponsive;
      margin-left: 2*@largeurColResponsive;
      height: 350px;
      ul#slider-videos{
        li{
          a.video-cover{
            line-height: 350px;
          }
        }
      }
    }
  }
  a.btn-references{
    width: 2*@largeurColResponsive;
    height: 2*@largeurColResponsive;
    line-height: 2*@largeurColResponsive;
    &#btn-left-references{
      top: 4*@largeurColResponsive;
      left: 4*@largeurColResponsive;
    }
    &#btn-right-references{
      top: 4*@largeurColResponsive;
      left: 10*@largeurColResponsive;
    }
  }
  #bloc-hopitaux{
    #bloc-txt-automatiser{
      width: 2*@largeurColResponsive;
      height: 4*@largeurColResponsive;
      line-height: 4*@largeurColResponsive;
    }
    #bloc-txt-desc-hopitaux{
      width: 4*@largeurColResponsive;
      height: 4*@largeurColResponsive;
      line-height: 4*@largeurColResponsive;
    }
    #btn-solutions-hopitaux{
      width: 2*@largeurColResponsive;
      height: 2*@largeurColResponsive;
    }
  }
  #bloc-references{
    height: 8*@largeurColResponsive;
    #bloc-txt-references{
      width: 2*@largeurColResponsive;
      height: 2*@largeurColResponsive;
      line-height: 2*@largeurColResponsive;
    }
    a#btn-brochure{
      top: 6*@largeurColResponsive;
      left: 4*@largeurColResponsive;
    }
    #bloc-couleur-references{
      width: 2*@largeurColResponsive;
      height: 2*@largeurColResponsive;
      top: 6*@largeurColResponsive;
      left: 2*@largeurColResponsive;
    }
    ul#liste-references{
      li{
        &#references-bloc-big{
          width: 8*@largeurColResponsive;
          height: 6*@largeurColResponsive;
          left: 2*@largeurColResponsive;
        }
        &#references-bloc-vertical{
          width: 2*@largeurColResponsive;
          height: 4*@largeurColResponsive;
          top: 3*@largeurColResponsive;
        }
        &#references-bloc-horizontal-top{
          width: 4*@largeurColResponsive;
          height: 2*@largeurColResponsive;
          top: 1*@largeurColResponsive;
          left: 8*@largeurColResponsive;
        }
        &#references-bloc-horizontal-bottom{
          width: 4*@largeurColResponsive;
          height: 2*@largeurColResponsive;
          top: 5*@largeurColResponsive;
          left: 6*@largeurColResponsive;
        }
      }
    }
  }
  #bloc-reseaux-sociaux{
    #bloc-txt-arx-reseaux-sociaux{
      width: 2*@largeurColResponsive;
      height: 2*@largeurColResponsive;
    }
    #bloc-txt-desc-reseaux-sociaux{
      width: 4*@largeurColResponsive;
      height: 2*@largeurColResponsive;
      line-height: 2*@largeurColResponsive;
      margin: 0 0 0 2*@largeurColResponsive;
    }
    ul#social-arx{
      margin: 0 0 0 @largeurColResponsive;
      li{
        width: @largeurColResponsive;
        height: @largeurColResponsive;
        &:nth-child(even){
          margin-top: @largeurColResponsive;
        }
      }
    }
  }
  footer{
    ul#menu-top-footer{
      li{
        width: 4*@largeurColResponsive;
      }
    }
  }
  ul#menu-bottom-footer{
    li.col-menu-bottom-footer{
      margin: 0 0 0 2*@largeurColResponsive;
      width: 2*@largeurColResponsive;
      .isIe &{
        margin: 0 0 0 2*@largeurColResponsiveIe;
        width: 2*@largeurColResponsiveIe;
      }
    }
  }

  #bloc-titre-partenaires{
    padding-right: 20px;
  }

  .partenaires{
    h3{
      height: 2*@largeurColResponsive;
      width: 2*@largeurColResponsive;
    }
    li{
      .box-sizing(border-box);
      padding-right: 20px;
      &.center-aligned{
        margin-left: @largeurColResponsive/2.5;
        margin-right: @largeurColResponsive/2.5;
        .isIe &{
          margin-left: @largeurColResponsiveIe/2.5;
          margin-right: @largeurColResponsiveIe/2.5;
        }
      }
      p{
        width: 100%;
      }
    }
  }

  #equipeFilter{
    a{
      font-size: 1.2em;
    }
    li{
      padding-bottom: 7px;
    }
  }

  fieldset{
    display: block;
    &:first-child{
      padding-bottom: 30px;
    }
  }

  label{
    width: 122px;
    max-width: 100%;
  }

}

@media (max-width: 1024px) {

  /* @group Pages Pharmacies / Hopitaux */
  ul#slider-scroll{
    padding: 0 0 20px 0;
    li{
      .opacity(1);
      margin: 100px 0;
      .zone-visu-txt-slider{
        z-index: 2;
      }
      .zone-txt-slider{
        width: 100%;
        margin: 0;
        .box-sizing(border-box);
        .transform(translateY(0));
      }
      &.slide-right{
        .zone-visu-txt-slider{
          left: 0;
        }
        .zone-txt-slider{
          left: 0;
          padding-left: 352px;
          padding-right: @largeurColResponsive;
          margin: 0;
        }
      }
      &.slide-left{
        .zone-visu-txt-slider{
          left: inherit;
          right: 0;
        }
        .zone-txt-slider{
          left: 0;
          padding-right: 352px;
          padding-left: @largeurColResponsive;
          margin: 0;
        }
      }
    }
  }

  ul#slider-scroll-navigator{
    display: none;
  }
  /* @end */

}

@media (max-width: 979px) {
  html, body{
    font-size: 0.9em;
  }
  
  .paddingLeft{
    padding: 0;
    .isIe &{
      padding: 0;
    }
  }
  .paddingLeftBis, .paddingLeft1{
    padding-left: 20px;
    .isIe &{
      padding-left: 20px;
    }
  }
  .paddingRight1{
    padding-right: 20px;
    .isIe &{
      padding-right: 20px;
    }
  }
  .responsivePadLeft{
    padding-left: 20px;
    .isIe &{
      padding-left: 20px;
    }
  }

  #bloc-home{
    #bloc-detail-home{
      left: 3*@largeurColResponsive;
      &.detail-home-open{
        width: 8*@largeurColResponsive;
        height: 6*@largeurColResponsive;
      }
    }
    a.btn-half-visu{
     &#btn-visu-right{
       .container-img-half-visu{
        background-position: 50% 50%;
       }
     }
    }
    a#btn-rowa-vmax-pharmacies{
      width: 3*@largeurColResponsive;
      height: 3*@largeurColResponsive;
      left: 25%;
      margin-left: -1.5*@largeurColResponsive;
      line-height: 3*@largeurColResponsive;
    }
    a#btn-rowa-smart-pharmacies{
      width: 3*@largeurColResponsive;
      height: 3*@largeurColResponsive;
      left: 75%;
      margin-left: -1.5*@largeurColResponsive;
      line-height: 3*@largeurColResponsive;
    }
    a#btn-rowa-vmax-hopitaux{
      width: 3*@largeurColResponsive;
      height: 3*@largeurColResponsive;
      left: @largeurColResponsive;
      line-height: 3*@largeurColResponsive;
    }
    a#btn-blispack-grisfols-hopitaux{
      width: 3*@largeurColResponsive;
      height: 3*@largeurColResponsive;
      left: 5*@largeurColResponsive;
    }
    a#btn-armoire-pyxis-hopitaux{
      width: 3*@largeurColResponsive;
      height: 3*@largeurColResponsive;
      left: 8*@largeurColResponsive;
    }
    /* @group btn rowa vmax */
    a#btn-options{
      width: 3*@largeurColResponsive;
      height: 3*@largeurColResponsive;
      line-height: 3*@largeurColResponsive;
    }
    a#btn-qualite-securite-vmax{
      width: 3*@largeurColResponsive;
      height: 3*@largeurColResponsive;
      line-height: 3*@largeurColResponsive;
      bottom: 3*@largeurColResponsive; 
      left: 6*@largeurColResponsive;
    }
    a#btn-design-speciaux-vmax{
      width: 3*@largeurColResponsive;
      height: 3*@largeurColResponsive;
      line-height: 3*@largeurColResponsive;
      bottom: 0; 
      left: 3*@largeurColResponsive;
    }
    a#btn-vitesse-precision-vmax{
      width: 3*@largeurColResponsive;
      height: 3*@largeurColResponsive;
      line-height: 3*@largeurColResponsive;
      bottom: 0*@largeurColResponsive;
      left: 6*@largeurColResponsive;
    }
    a#btn-maitriser-espace-vmax{
      width: 3*@largeurColResponsive;
      height: 3*@largeurColResponsive;
      line-height: 3*@largeurColResponsive;
      bottom: 3*@largeurColResponsive;
      left: 9*@largeurColResponsive;
    }
    a#btn-outil-silencieux-vmax{
      width: 3*@largeurColResponsive;
      height: 3*@largeurColResponsive;
      line-height: 3*@largeurColResponsive;
      bottom: 0;
      left: 9*@largeurColResponsive;
    }
    /* @end */
  }

  /* @group options */

  #zone-txt-options-pharmacies{
    margin-top: 20px;
    width: 90%;
  }

  .btn.btn-image, a.btn.btn-image{
    width: 6*@largeurColResponsive;
    height: 6*@largeurColResponsive;
  }

  ul#liste-options-pharmacies{
    li{
      width: 6*@largeurColResponsive;
      height: 6*@largeurColResponsive;
      &.margin-bottom {
        margin-bottom: 0;
      }
      &.margin-top{
        margin-top: 0;
      }
      &.up {
        margin-top: 0;
      }
    }
  }

  /* @end */

  ul.subMenu{
    float: none;
    margin: -60px 0 20px;
    padding: 20px 0 0;
    position: relative;
    background: @blanc;
    border-bottom: 1px solid fade(#7d7d7d, 40%);
    text-align: center;
    > li{
      display: inline-block;
      vertical-align: top;
      padding: 0 20px;
      width: 155px;
      .box-sizing(border-box);
      &:first-child{
        padding: 0 21px;
        border-right: 1px solid fade(#7d7d7d, 40%);
      }
      li{
        display: block;
        padding: 5px 0 0;
      }
      &:last-child ul{
        padding: 5px 0 20px 0;
      }
    }
    a, a.actif{
      font-size: 0.75em;
      &:hover, &:focus{
        padding: 0;
      }
    }
    ul{
      padding: 5px 0 20px 0;
    }
    &.retour{
      > li:first-child{
        border: 0;
        padding-bottom: 20px;
      }
    }
  }

  ul.subMenuContact{
    padding-left: 20px;
    +div{
      width: 470px;
      display: inline-block;
      margin-left: 240px;
    }
  }

  #bloc-titre-automatiser{
    width: 100%;
    padding: 10px 20px 30px;
    .box-sizing(border-box);
  }

  #bloc-video{
    #wrapper-video{
      height: 300px;
      ul#slider-videos{
        li{
          a.video-cover{
            line-height: 300px;
          }
        } 
      }
    }
  }
  #bloc-hopitaux{
    #btn-solutions-hopitaux{
      width: 3*@largeurColResponsive;
      height: 3*@largeurColResponsive;
    }
  }
  #bloc-reseaux-sociaux{
    #bloc-txt-desc-reseaux-sociaux{
      padding: 20px;
      .box-sizing(content-box);
    }
  }
  #bloc-references{
    ul.bg-grid{
      display: none;
    }
  }
  footer{
    ul.bg-grid{
      display: none;
    }
  }

  .apropos, .partenaires{
    .content{
      h2{
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        &.right-aligned{
          text-align: center;
        }
      }
      p.txt-title{
        &.right-aligned{
          text-align: center;
        }
      }
    }
  }

  .apropos{
    .content{
      .col{
        &.col1{
          width: 4*@largeurColResponsive;
          .isIe &{
            width: 4*@largeurColResponsiveIe;
          }
        }
        &.col3{
          width: 8*@largeurColResponsive;
          .isIe &{
            width: 8*@largeurColResponsiveIe;
          }
        }
      }
    }
  }

  #bloc-titre-partenaires {
    padding-left: 20px;
  }

  .partenaires{
    .content{
      .col{
        &.col3{
          width: 8*@largeurColResponsive;
          .isIe &{
            width: 8*@largeurColResponsiveIe;
          }
        }
      }
      .legend{
        padding: 35px 20px;
      }
    }
    h3{
      padding: 20px;
    }
  }

  .listPartenaires{
    text-align: center;
    li{
      text-align: left;
      padding: 0;
      &.col1Bis{
        width: 29%;
      }
      &.center-aligned{
        text-align: center;
      }
      &.right-aligned{
        text-align: right;
      }
    }
  }

  .consultant, .installation, .sav{
    .content{
      .col{
        &.col2{
          width: 6*@largeurColResponsive;
          .isIe &{
            width: 6*@largeurColResponsiveIe;
          }
        }
      }
    }
    .paddingLeft2{
      padding-left: 6*@largeurColResponsive;
      .isIe &{
        width: 6*@largeurColResponsiveIe;
      }
    }
  }

  .armoire-pyxis{
    .content{
      .col{
        &.col2{
          width: 6*@largeurColResponsive;
          padding-right: 20px;
          padding-left: 20px;
          .isIe &{
            width: 6*@largeurColResponsiveIe;
          }
        }
      }
    }
  }

  .consultant{
    h3.col4{
      width: 100%;
    }
  }

  #equipeFilter{
    text-align: center;
  }

  #equipe{
    ul{
      text-align: center;
    }
  }

  .content{
    button{
      margin: 40px 0 0 60px;
    }
  }

  label{
    width: 130px;
  }

  #mail{
    margin: 0;
  }

  .blispack-grifols{
    .paddingLeft{
      padding: 0 20px;
    }
    p{
      text-align: center;
    }
  }

}

@media (max-width: 767px) {
  /* @group Sliders */
  ul#slider-scroll{
    li{
      .zone-visu-txt-slider{
        height: 125px;
        margin-top: -62px;
        width: 110px;
        .visu-txt-slider{
          width: 90px;
          margin-left: -45px;
        }      
      }
      &.slide-right{
        .zone-txt-slider{
          padding-left: 110px;
        }
      }
      &.slide-left{
        .zone-txt-slider{
          padding-right: 110px;
        }
      }
      &#slide-1{
        .zone-visu-txt-slider{
          .visu-txt-slider{
            .pharmacies &{
              background: url("../layoutImg/slider-scroll/fleches-responsive.png") no-repeat 0 0;
            }
            .hopitaux &{
              background: url("../layoutImg/slider-scroll/dispensation-responsive.png") no-repeat 0 0;
            }
          }
        }
      }
      &#slide-2{
        .zone-visu-txt-slider{
          .visu-txt-slider{
            .pharmacies &{
              background: url("../layoutImg/slider-scroll/box-responsive.png") no-repeat 0 0;
            }
            .hopitaux &{
              background: url("../layoutImg/slider-scroll/codebarre-responsive.png") no-repeat 0 0;
            }
          }
        }
      }
      &#slide-3{
        .zone-visu-txt-slider{
          .visu-txt-slider{
            .pharmacies &{
              background: url("../layoutImg/slider-scroll/stocks-responsive.png") no-repeat 0 0;
            }
            .hopitaux &{
              background: url("../layoutImg/slider-scroll/gestion-personnel-responsive.png") no-repeat 0 0;
            }
          }
        }
      }
      &#slide-4{
        .zone-visu-txt-slider{
          .visu-txt-slider{
            .pharmacies &{
              background: url("../layoutImg/slider-scroll/shield-responsive.png") no-repeat 0 0;
            }
            .hopitaux &{
              background: url("../layoutImg/slider-scroll/shield-responsive.png") no-repeat 0 0;
            }
          }
        }
      }
      &#slide-5{
        .zone-visu-txt-slider{
          .visu-txt-slider{
            .pharmacies &{
              background: url("../layoutImg/slider-scroll/stats-responsive.png") no-repeat 0 0;
            }
            .hopitaux &{
              background: url("../layoutImg/slider-scroll/iatrogenie-responsive.png") no-repeat 0 0;
            }
          }
        }
      }
    }
  }
  /* @end */
  
  h1{
    padding-top: 110px;
    font-size: 2em;
    line-height: 1.1em;
    .partenaires &, .contact &{
      width: 140%;
    }
    .pharmacies &{
      padding-top: 120px;
      width: 90%;
      padding-left: 35px;
      text-align: center;
    }
    .hopitaux &{
      padding-top: 120px;
      width: 90%;
      text-align: center;
    }
  }

  #zone-titre-home{
    width: 85%;
    margin: 0 auto;
    padding: 0;
    h1{
      width: 100%;
      text-align: center;

      .txt-bleu{
        display: block;
      }
      br{
        display: none;
      }
    }
  }

  header{
    padding: 30px 0 15px 0;
  }
  a#menu-responsive{
    display: block;
  }
  a#close-menu-responsive{
    display: block;
  }
  ul#menu-header{
    display: none;
  }
  .home{
    h1{
      padding: 150px 0 0 0;
      width: 230px;
      font-size: 2em;
    }
  }
  a.btn-carousel{
    border-color: #0070b8;
    color: #0070b8;
    &#btn-close-carousel-home{
      width: 2*@largeurColResponsive;
      height: 2*@largeurColResponsive;
    }
    &#btn-left-carousel-home{
      width: 2*@largeurColResponsive;
      height: 2*@largeurColResponsive;
      right: 2*@largeurColResponsive;
      bottom: 1px;
    }
    &#btn-right-carousel-home{
      width: 2*@largeurColResponsive;
      height: 2*@largeurColResponsive;
      right: 0;
      bottom: 1px;
    }
  }
  #bloc-home{
    #bloc-detail-home{
      left: 0;
      &.detail-home-open{
        width: 12*@largeurColResponsive;
        height: 10*@largeurColResponsive;
      }
      #container-carousel-txt-home{
        ul#carousel-txt-home{
          li{
            padding: 25px 20px 0 20px;
          }
        }
      }
      ul#container-titles-carousel-home{
        width: 4*@largeurColResponsive;
        height: 4*@largeurColResponsive;
        bottom: 0;
        li{
          line-height: 4*@largeurColResponsive;
        }
      }
      .container-inte-bloc-detail-home{
        width: 100%;
        height: 50%;
       &#container-carousel-img-home{
          ul#carousel-img-home{

            li{
              .box-sizing(border-box);
              padding: 0 4*@largeurColResponsive;
            }
          }
        }
      }
    }
    a.btn-half-visu{
      &#btn-visu-right{
        .container-img-half-visu{
         background-position: 55% 50%;
        }
      }
     }
    ul.bg-grid{
      display: none;
    }
    min-height: 460px;
    a#btn-robots-rowa{
      width: 3*@largeurColResponsive;
      height: 3*@largeurColResponsive;
    }
    a#btn-contact{
      width: 3*@largeurColResponsive;
      height: 3*@largeurColResponsive;
    }
    a#btn-rowa-vmax-pharmacies{
      width: 4*@largeurColResponsive;
      height: 4*@largeurColResponsive;
      line-height: 4*@largeurColResponsive;
      left: 0;
      top: inherit;
      bottom: 0;
      margin: 0;
    }
    a#btn-rowa-smart-pharmacies{
      width: 4*@largeurColResponsive;
      height: 4*@largeurColResponsive;
      line-height: 4*@largeurColResponsive;
      left: inherit;
      top: inherit;
      right: 0;
      bottom: 0;
      margin: 0;
    }
    a#btn-rowa-vmax-hopitaux{
      width: 4*@largeurColResponsive;
      height: 4*@largeurColResponsive;
      left: 0;
      line-height: 4*@largeurColResponsive;
      top: inherit;
      bottom: 0;
    }
    a#btn-blispack-grisfols-hopitaux{
      width: 4*@largeurColResponsive;
      height: 4*@largeurColResponsive;
      left: 50%;
      margin-left: -2*@largeurColResponsive;
      top: inherit;
      bottom: 0;
    }
    a#btn-armoire-pyxis-hopitaux{
      width: 4*@largeurColResponsive;
      height: 4*@largeurColResponsive;
      left: inherit;
      right: 0;
      top: inherit;
      bottom: 0;
    }
    /* @group btn rowa vmax */
    a#btn-options{
      width: 4*@largeurColResponsive;
      height: 4*@largeurColResponsive;
      line-height: 4*@largeurColResponsive;
      .container-btn-anim{
        h2{
          padding: 0 15px;
        }
      }
    }
    a#btn-qualite-securite-vmax{
      width: 4*@largeurColResponsive;
      height: 4*@largeurColResponsive;
      line-height: 4*@largeurColResponsive;
      bottom: 4*@largeurColResponsive; 
      left: 0;
      .container-btn-anim{
        h2{
          padding: 0 15px;
        }
      }
    }
    a#btn-design-speciaux-vmax{
      width: 4*@largeurColResponsive;
      height: 4*@largeurColResponsive;
      line-height: 4*@largeurColResponsive;
      bottom: 4*@largeurColResponsive;
      left: 4*@largeurColResponsive;
      .container-btn-anim{
        h2{
          padding: 0 15px;
        }
      }
    }
    a#btn-vitesse-precision-vmax{
      width: 4*@largeurColResponsive;
      height: 4*@largeurColResponsive;
      line-height: 4*@largeurColResponsive;
      bottom: 0*@largeurColResponsive;
      left: 4*@largeurColResponsive;
      .container-btn-anim{
        h2{
          padding: 0 15px;
        }
      }
    }
    a#btn-maitriser-espace-vmax{
      width: 4*@largeurColResponsive;
      height: 4*@largeurColResponsive;
      line-height: 4*@largeurColResponsive;
      bottom: 4*@largeurColResponsive;
      left: 8*@largeurColResponsive;
      .container-btn-anim{
        h2{
          padding: 0 15px;
        }
      }
    }
    a#btn-outil-silencieux-vmax{
      width: 4*@largeurColResponsive;
      height: 4*@largeurColResponsive;
      line-height: 4*@largeurColResponsive;
      bottom: 0;
      left: 8*@largeurColResponsive;
      .container-btn-anim{
        h2{
          padding: 0 15px;
        }
      }
    }
    /* @end */
    #bg-bloc-home{
      #machine{
        margin-right: -880px;
      }
    }
  }
  a.btn-video{
    top: 0;
  }
  #bloc-video{
    padding: 0;
    h2{
      padding: 0;
      height: 3*@largeurColResponsive;
      line-height: 3*@largeurColResponsive;
    }
    #wrapper-video{
      height: 300px;
      width: 100%;
      margin: 0;
      ul#slider-videos{
        li{
          &#current-video{
            z-index: 2;
          }
          a.video-cover{
            line-height: 300px;
            .cadre-video-cover{
              width: 85%!important;
              height: 85%!important;
            }
            .video-txt{
              width: 85%;
              padding: 10px;
              .video-title{
                .video-title-fixed{
                  margin: 0 0 5px 0;
                }
              } 
            }
          }
        } 
      }
    }
  }
  #bloc-hopitaux{
    ul.bg-grid{
      display: none;
    }
    #bloc-txt-automatiser{
      width: 6*@largeurColResponsive;
      height: 6*@largeurColResponsive;
      line-height: 6*@largeurColResponsive;
    }
    #bloc-txt-desc-hopitaux{
      display: none;
    }
    #btn-solutions-hopitaux{
      width: 5*@largeurColResponsive;
      height: 5*@largeurColResponsive;
    }
  }
  #bloc-references{
    height: 16*@largeurColResponsive;
    #bloc-txt-references{
      width: 100%;
      text-align: center;
      position: relative;
      height: 3*@largeurColResponsive;
      line-height: 3*@largeurColResponsive;
      padding: 0 3*@largeurColResponsive;
      h2{
        .txt-bloc{
          line-height: 1.1em;
        }
      }
    }
    #bloc-couleur-references{
      display: none;
    }
    a#btn-brochure{
      width: 5*@largeurColResponsive;
      height: 5*@largeurColResponsive;
      top: inherit;
      bottom: 0;
      left: inherit;
      right: 0;
    }
    ul#liste-references{
      height: 13*@largeurColResponsive;
      li{
        &#references-bloc-big{
          width: 10*@largeurColResponsive;
          height: 7*@largeurColResponsive;
          left: inherit;
          right: 0;
        }
        &#references-bloc-vertical{
          width: 2*@largeurColResponsive;
          height: 4*@largeurColResponsive;
          top: 4*@largeurColResponsive;
        }
        &#references-bloc-horizontal-top{
          width: 6*@largeurColResponsive;
          height: 3*@largeurColResponsive;
          top: 5*@largeurColResponsive;
          left: 6*@largeurColResponsive;
        }
        &#references-bloc-horizontal-bottom{
          width: 7*@largeurColResponsive;
          height: 4*@largeurColResponsive;
          top: inherit;
          bottom: 1*@largeurColResponsive;
          left: 0;
        }
      }
    }
  }
  a.btn-references{
    width: 3*@largeurColResponsive;
    height: 3*@largeurColResponsive;
    &#btn-left-references{
      top: 0;
      left: 0;
    }
    &#btn-right-references{
      top: 0;
      left: inherit;
      right: 0;
    }
  }
  #bloc-reseaux-sociaux{
    #bloc-txt-arx-reseaux-sociaux{
      display: none;
    }
    #bloc-txt-desc-reseaux-sociaux{
      display: none;
    }
    ul#social-arx{
      margin: 0;
      li{
        width: 3*@largeurColResponsive;
        height: 3*@largeurColResponsive;
        &:nth-child(even){
          margin-top: 3*@largeurColResponsive;
        }
        &:nth-child(4){
          margin-left: -3*@largeurColResponsive;
        }
      }
    }
  }
  a.btn-video{
    width: 3*@largeurColResponsive;
    height: 3*@largeurColResponsive;
  }
  /* @group options vmax */
  a#btn-options-plus{
    width: 3*@largeurColResponsive;
    height: 3*@largeurColResponsive;
  }
  /* @end */
  footer{
    ul#menu-top-footer{
      li{
        width: 100%;
        height: auto;
        margin: 20px 0;
        margin: 0 0 3*@largeurColResponsive 0;
        .isIe &{
          width: 100%;
          margin: 0 0 3*@largeurColResponsiveIe 0;
        }
        a{
          &.consultants-experts, &.installation-personnalisee, &.sav-dedie{
            .zone-txt{
              text-align: left;
              width: 100%;
              .box-sizing(border-box);
              padding: 25px 0 25px 170px;
              margin: 0;
              br{
                display: none;
              }
            }
          }
          &.consultants-experts{
            .visu-menu{
              margin-left: 0;
              left: 50px;
              top: 0;
            }
            .fond-plus, .plus{
              top: 25px;
              left: 130px;
              margin-left: 0;
            }
          }
          &.installation-personnalisee{
            .visu-menu{
              margin-left: 0;
              left: 25px;
              top: 0;
            }
            .fond-plus, .plus{
              top: 25px;
              left: 130px;
              margin-left: 0;
            }
          }
          &.sav-dedie{
            .groupe-visu-menu{
              margin-left: 0;
              left: 20px;
              top: 0;
              width: 106px;
              .visu-menu.icon-casque{
                left: 50%;
                margin-left: -29px;
              }
              .visu-menu.icon-outils{
                display: none;
              }
            }
            .fond-plus, .plus{
              top: 25px;
              left: 130px;
              margin-left: 0;
            }

          }
        }
      }
    }
  }
  #menu-full{
    display: none;
    width: 100%;
    height: 100%;
    background-color: @blanc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    &.open{
      display: block;
    }
    ul#menu-bottom-footer{
      margin: 0;
      background: none;
      li.col-menu-bottom-footer{
        display: block;
        width: 100px;
        margin: 15px auto;
        ul.menu-categ-1{
          margin: 5px 0 0 5px;
          li{
            ul.menu-categ-2{
              margin: 0 0 5px 15px;
            }
          }
        }
        &:nth-child(1), &:nth-child(2){
          ul.menu-categ-1{
            .opts{
              display: none;
            }
            ul.menu-categ-2{
              display: none;
            }
          }
        }
      }
    }
  }

  blockquote{
    padding: 0 0 90px 80px;
    text-align: center;
    span{
      display: block;
    }
  }

  .arxFrance{
    .content{
      p{
        text-align: center;
      }
      .col{
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        &.col1, &.col4, &.col2, &.col3{
          width: 100%;
          .isIe &{
            width: 100%;
          }
        }
      }
      h2{
        padding-left: 20px;
        text-align: center;
        &.right-aligned{
          text-align: center;
        }
      }
      p.txt-title{
        &.right-aligned{
          text-align: center;
        }
      }
    }
  }

  .partenaires{
    .content{
      .col{
        &.col2{
          max-width: 392px;
          padding: 0 20px;
          margin: 0 auto;
          display: block;
          + .col3{
            padding-top: 20px;
          }
        }
        &.col3{
          + .col2{
            padding-top: 20px;
          }
        }
      }
      .legend{
        right: 20px;
        .size(125px);
      }
    }
    .padLeft{
      padding-left: 20px;
    }
    h3{
      .size(125px);
    }
  }

  .listPartenaires{
    li{
      &.right-aligned{
      text-align: left;
      }
      &.center-aligned{
        text-align: left;
        margin-left: 0;
        margin-right: 0;
      }
      &.col1Bis{
        width: 47%;
      }
    }
  }

  .consultant, .installation, .sav{
    .content{
      .col{
        text-align: center;
        &.col2{
          padding-right: 20px;
          padding-left: 20px;
          +.col2{
            margin-top: 30px;
            padding-left: 20px;
          }
        }
        &.right-aligned{
          text-align: center;
        }
      }
    }
    .paddingLeft2{
      padding-left: 20px;
    }
    h3{
      text-align: center;
    }
  }

  .visuel{
    &.visuelConsulting{
      margin-bottom: 35px;
    }
  }

  .titreIconeRight, .titreIconeLeft{
    padding: 55px 0 0;
    span, &.formation span, &.visites span, &.france span, &.tools span{
      width: 46px;
      font-size: 46px;
      margin: 0 0 0 -23px;
      left: 50%;
      top: 0;
    }
  }

  ul.subMenuContact{
    float: none;
    position: relative;
    margin: -60px 0 0;
    padding: 20px;
    background: @blanc;
    >li{
      display: inline-block;
      vertical-align: top;
      overflow: hidden;
      &:first-child{
        margin: 0 50px 0 0;
        padding: 0 50px 0 0;
        border-right: 1px solid fade(#7d7d7d, 40%);
        ul{
          margin: 0;
        }
      }
    }
    +div{
      display: block;
      width: 100%;
      margin: 0;
      .box-sizing(border-box);
    }
  }

  .infos{
    li{
      font-size: 0.75em;
    }
  }

  .contact{
    .content{
      .col{
        text-align: left;
        width: 100%;
        padding-left: 0;
      }
      p{
        text-align: left;

      }
    }
  }

  .armoire-pyxis{
    .content{
      .col{
        &.col2{
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .page{
    .content{
      text-align: center;
      ul{
        text-align: left;
      }
    }
  }

}

@media (max-width: 480px) {
  h1{
    .partenaires &, .contact &{
      width: 100%;
    }
    .pharmacies &{
      padding-left: 0;
      .txt-bleu-clair{
        display: block;
      }
    }
  }

  .btn, a.btn{
    h2{
      font-size: 0.7em;
    }
  }

  #zone-titre-home{
    width: 100%;
    h1{
      width: 100%;
    }
  }

  .btn, a.btn{
    &.btn-image{
      .zone-btn{
        width: 5*@largeurColResponsive;
        height: 5*@largeurColResponsive;
      }
    }
  }

  .padBot2{
    padding-bottom: 20px;
  }

  #bloc-home{
    #bloc-detail-home{
      &.detail-home-open{
        width: 12*@largeurColResponsive;
        height: 14*@largeurColResponsive;
      }
      #container-carousel-txt-home{
        ul#carousel-txt-home{
          li{
            padding: 20px 20px 0 20px;
          }
        }
      }
      ul#container-titles-carousel-home{
        li{
          .container-title-carousel-home{
            h2{
              font-size: 0.9em;
            }
          }
        }
      }
    }
    p{
      .pharmacies &{
        width: 90%;
      }
    }
    a#btn-robots-rowa{
      width: 50%;
      height: 6*@largeurColResponsive;
      top: inherit;
      bottom: 0;
      left: 0;
      padding: 30px;
    }
    a#btn-contact{
      width: 50%;
      height: 6*@largeurColResponsive;
      top: inherit;
      bottom: 0;
      left: inherit;
      right: 0;
      padding: 30px;
    }
    a#btn-rowa-vmax-pharmacies{
      width: 50%;
      height: 6*@largeurColResponsive;
      line-height: 6*@largeurColResponsive;
    }
    a#btn-rowa-smart-pharmacies{
      width: 50%;
      height: 6*@largeurColResponsive;
      line-height: 6*@largeurColResponsive;
    }
  }
  #bloc-video{
    #wrapper-video{
      height: 200px;
      width: 100%;
      ul#slider-videos{
        li{
          &#current-video{
            z-index: 2;
          }
          a.video-cover{
            line-height: 200px;
            .cadre-video-cover{
              width: 85%!important;
              height: 85%!important;
            }
            .video-txt{
              width: 85%;
              padding: 10px;
              .video-title{
                .video-title-fixed{
                  margin: 0 0 5px 0;
                }
              } 
            }
          }
        } 
      }
    }
  }
  a#btn-options-plus{
    width: 4*@largeurColResponsive;
    height: 4*@largeurColResponsive;
  }
  #bloc-hopitaux{
    #bloc-txt-automatiser{
      width: 6*@largeurColResponsive;
      height: 7*@largeurColResponsive;
      line-height: 7*@largeurColResponsive;
    }
    #btn-solutions-hopitaux{
      width: 6*@largeurColResponsive;
      height: 6*@largeurColResponsive;
    }
  }

  .partenaires .content {
    padding-bottom: 0;
  }

  .listPartenaires{
    li{
      &.col1Bis{
        width: 100%;
        padding: 0 20px;
      }
      p{
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        padding: 0 0 0 10px;
      }
    }
  }

  ul.subMenuContact{
    >li{
      display: block;
      &:first-child{
        margin: 0 0 10px;
        padding: 0 0 10px;
        border-right: 0;
        border-bottom: 1px solid fade(#7d7d7d, 40%);
        ul{
          padding: 10px 0 0;
        }
      }
    }
    .adress{
      margin: 0 0 10px;
    }
    .rs{
      margin: 0;
      width: 100%;
      li{
        margin: 0 8px 0 0;
        .size(40px);
        &.right{
          float: left;
        }
        &.center{
          margin: 0 8px 0 0;
          clear: none;
          float: left;
        }
      }
      a{
        .size(40px);
        line-height: 40px;
        font-size: 29px;
        span{
          display: none;
        }
      }
    }
  }

  .infos{
    li{
      margin: 0 0 8px;
    }
  }

  label{
    width: 100%;
    display: block;
    margin-bottom: 5px;
  }

  fieldset{
    padding-bottom: 30px;
    &:first-child{
      padding-bottom: 10px;
    }
  }

  .blispack-grifols{
    .col.col3{
      width: 100%;
    }
  }

  .wrapper-embed {
    height: 280px;
  }

}


@media (max-width: 767px) and (max-height: 620px){
  .arxFrance {
    h1{
      padding: 140px 0 0;
    }
    #bloc-home {
      min-height: 320px;
      max-height: 400px;
    }
  }
}

@media (max-width: 450px) and (max-height: 620px){
  .arxFrance {
    h1{
      padding: 110px 0 0;
      font-size: 2em;
      line-height: 1.25em;
    }
    #bloc-home {
      height: 72%;
      min-height: 260px;
      max-height: 330px;
    }
    &.partenaires{
      #bloc-home{
        min-height: 300px;
      }
    }
  }
}



/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    ul#slider-scroll{
      li{
        &#slide-1{
          .zone-visu-txt-slider{
            .visu-txt-slider{
              .pharmacies &{
                background: url("../layoutImg/slider-scroll/fleches@2x.png") no-repeat 0 0;
                background-size: 1080px 1750px;
                @media (max-width: 767px) {
                  background: url("../layoutImg/slider-scroll/fleches-responsive@2x.png") no-repeat 0 0;
                  background-size: 90px 125px;
                }
              }
              .hopitaux &{
                background: url("../layoutImg/slider-scroll/dispensation@2x.png") no-repeat 0 0;
                background-size: 1080px 1750px;
                @media (max-width: 767px) {
                  background: url("../layoutImg/slider-scroll/dispensation-responsive@2x.png") no-repeat 0 0;
                  background-size: 90px 125px;
                }
              }
            }
          }
        }
        &#slide-2{
          .zone-visu-txt-slider{
            .visu-txt-slider{
              .pharmacies &{
                background: url("../layoutImg/slider-scroll/box@2x.png") no-repeat 0 0;
                background-size: 1080px 1750px;
                @media (max-width: 767px) {
                  background: url("../layoutImg/slider-scroll/box-responsive@2x.png") no-repeat 0 0;
                  background-size: 90px 125px;
                }
              }
              .hopitaux &{
                background: url("../layoutImg/slider-scroll/codebarre@2x.png") no-repeat 0 0;
                background-size: 1080px 1750px;
                @media (max-width: 767px) {
                  background: url("../layoutImg/slider-scroll/codebarre-responsive@2x.png") no-repeat 0 0;
                  background-size: 90px 125px;
                }
              }
            }
          }
        }
        &#slide-3{
          .zone-visu-txt-slider{
            .visu-txt-slider{
              .pharmacies &{
                background: url("../layoutImg/slider-scroll/stocks@2x.png") no-repeat 0 0;
                background-size: 1080px 1750px;
                @media (max-width: 767px) {
                  background: url("../layoutImg/slider-scroll/stocks-responsive@2x.png") no-repeat 0 0;
                  background-size: 90px 125px;
                }
              }
              .hopitaux &{
                background: url("../layoutImg/slider-scroll/gestion-personnel@2x.png") no-repeat 0 0;
                background-size: 1080px 1750px;
                @media (max-width: 767px) {
                  background: url("../layoutImg/slider-scroll/gestion-personnel-responsive@2x.png") no-repeat 0 0;
                  background-size: 90px 125px;
                }
              }
            }
          }
        }
        &#slide-4{
          .zone-visu-txt-slider{
            .visu-txt-slider{
              .pharmacies &{
                background: url("../layoutImg/slider-scroll/shield@2x.png") no-repeat 0 0;
                background-size: 1080px 1750px;
                @media (max-width: 767px) {
                  background: url("../layoutImg/slider-scroll/shield-responsive@2x.png") no-repeat 0 0;
                  background-size: 90px 125px;
                }
              }
              .hopitaux &{
                background: url("../layoutImg/slider-scroll/shield@2x.png") no-repeat 0 0;
                background-size: 1080px 1750px;
                @media (max-width: 767px) {
                  background: url("../layoutImg/slider-scroll/shield-responsive@2x.png") no-repeat 0 0;
                  background-size: 90px 125px;
                }
              }
            }
          }
        }
        &#slide-5{
          .zone-visu-txt-slider{
            .visu-txt-slider{
              .pharmacies &{
                background: url("../layoutImg/slider-scroll/stats@2x.png") no-repeat 0 0;
                background-size: 1080px 1750px;
                @media (max-width: 767px) {
                  background: url("../layoutImg/slider-scroll/stats-responsive@2x.png") no-repeat 0 0;
                  background-size: 90px 125px;
                }
              }
              .hopitaux &{
                background: url("../layoutImg/slider-scroll/iatrogenie@2x.png") no-repeat 0 0;
                background-size: 1080px 1750px;
                @media (max-width: 767px) {
                  background: url("../layoutImg/slider-scroll/iatrogenie-responsive@2x.png") no-repeat 0 0;
                  background-size: 90px 125px;
                }
              }
            }
          }
        }
      }
    }
}



/* ==|== print styles =======================================================
   ========================================================================== */
 
@media print {
  * {} /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}